.caption {
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  margin: 80px;
  color: white;
  font-size: 8em;
  font-weight: 100;
  line-height: 1em;
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: auto;
}

.dot {
  pointer-events: none;
  position: sticky;
  top: 0px;
  display: inline-block;
  max-width: 600px;
  padding: 0;
  padding: 80px;
  color: #656565;
  line-height: 1.4em;
  font-size: 15px;
  letter-spacing: 1.4px;
}

.final {
  background-color: grey;
}

.dot > h1 {
  -webkit-font-smoothing: auto;
  pointer-events: none;
  color: rgb(47, 47, 47);
  font-size: 5em;
  font-weight: 200;
  line-height: 1em;
  margin: 0;
  margin-bottom: 0.25em;
}

.dot.portfolio {
  max-width: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  grid-gap: 15px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  filter: grayscale(50%);

  border: 1px solid #656565;
  padding: 4px;
  background-color: #ababab;
}

.gallery__text {
  text-transform: uppercase;
  position: relative;
  bottom: 32px;
  left: 10px;
  text-shadow: 1px 1px black;
  font-weight: bolder;
  color: white;
}
